@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #70247c;
}
a:visited {
  color: #70247c;
}
a:active {
  opacity: 0.8;
}

body {
  background-color: #343232;
}

.app-title {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: white;
  margin: auto;
  margin-top: 3rem;
}

.form {
  border: 2px solid #dbdbdb;
  max-width: 400px;
  padding: 0 15% 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button,
input {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1rem;
  width: 100%;
}

.form input {
  border: 1px solid gray;
  background-color: #fafafa;
}

.form button {
  background-color: #70247c;
  color: white;
  border: none;
}

.form button:hover {
  cursor: pointer;
}

.form button:active {
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    margin-top: 0;
  }
}
