@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: none;
}

body {
  background-color: #343232;
  margin: 0;
}

img {
  width: 100%;
}

.app-title {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: black;
}

.error-text {
  color: red;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.main-container > * {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content-container {
  flex-grow: 1;
}

.main-container nav {
  background-color: #70247c;
  width: 320px;
  height: 100vh;
  top: 0;
  position: sticky;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: white;
  margin: auto;
  margin-top: 3rem;
}

.form {
  border: 2px solid #dbdbdb;
  max-width: 400px;
  padding: 0 15% 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button,
.form input {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1rem;
  width: 100%;
}

.form input {
  border: 1px solid gray;
  background-color: #fafafa;
}

.form button {
  background-color: #70247c;
  color: white;
  border: none;
}

.form button:hover {
  cursor: pointer;
}

.form button:active {
  opacity: 0.8;
}

.form p {
  text-align: center;
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5% 0;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 24px;
}

.link-text {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.link-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-post {
  margin: 1rem;
  width: 100%;
  max-width: 700px;

  background-color: #eeeeee;
  border: 1px solid #6f6e6e;
  border-radius: 10px;
}

.post-header,
.post-info {
  padding: 5px;
}
.post-user {
  display: flex;
  align-items: center;
}

.post-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-user-name {
  margin-left: 10px;
  font-size: 1.1rem;
}

.post-image {
  font-size: 0;
  line-height: 0;
}

.post-add-comment {
  display: flex;
  border-top: 1px solid gray;
}

.post-add-comment input {
  background-color: #eeeeee;
  width: 100%;
  border: none;
  padding: 0 10px;
}

.post-add-comment button {
  background-color: transparent;
  border: none;
  padding: 0 20px 0 5px;
  font-size: 1rem;
  color: #70247c;
}

.post-add-comment button:hover {
  cursor: pointer;
}

.post-add-comment button:disabled {
  color: #70247c;
  opacity: 0.4;
  cursor: default;
}

.bold {
  font-weight: 600;
}

.post-caption > * {
  display: inline;
}

.post-caption-user {
  margin-right: 5px;
}

.like-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-like {
  width: 25px;
  height: 25px;
}

.profile-container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  background-color: white;
  background-color: #4158d0;
  background-color: #4158d0;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #e9d8ec 0%, #5a345f 100%);
}

.profile-picture-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.profile-picture-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-picture-container p {
  font-weight: 600;
}

.profile-info {
  border-bottom: black 1px solid;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.profile-info-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.profile-info-text {
  height: 100%;
  flex-grow: 1;
}

.profile-info-text input {
  border: none;
  background-color: transparent;
  margin: 0;
  line-height: 40px;
  padding: 5px 10px;
  font-size: 1rem;
}

.profile-info-text input:disabled {
  color: black;
}

.profile-edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.profile-edit-btn {
  background: linear-gradient(
    90deg,
    rgba(112, 36, 124, 1) 0%,
    rgba(111, 56, 120, 1) 50%,
    rgba(112, 36, 124, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 120px;
  padding: 15px 80px;
  font-size: 1rem;
}

.profile-edit-btn:hover {
  cursor: pointer;
}

.editable {
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 0;
  }
}
